services:
  backend:
    build: ./backend
    ports:
      - "1234:1234"
    env_file:
      - ./.env
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./data:/app/data
      - ./frontend/public:/app/public
    develop:
      watch:
         - path: ./backend/src 
           action: sync
           target: /app/src
         - path: ./backend/package.json
           action: rebuild
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    develop:
      watch:
        - path: ./frontend/src
          action: sync
          target: /app/src