services:
  backend:
    build: ./backend
    ports:
      - "1234:1234"
    environment:
      - GOOGLE_CLIENT_ID=42380017002-djg345a26snh503oksetl0nk3a7pa2t5.apps.googleusercontent.com
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./data:/app/data
      - ./frontend/public:/app/public
    develop:
      watch:
         - path: ./backend/src 
           action: sync
           target: /app/src
         - path: ./backend/package.json
           action: rebuild
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    develop:
      watch:
        - path: ./frontend/src
          action: sync
          target: /app/src