services:
  backend:
    build: ./backend
    ports:
      - "1234:1234"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./data:/app/data
      - ./frontend/public:/app/public
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules