@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 0.4s ease-out forwards;
}


@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate-fade-out {
  animation: fade-out 0.4s ease-out forwards;
  pointer-events: none;
}

@keyframes zoom-into-game {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

.zoom-into-game {
  animation: zoom-into-game 0.5s ease-out forwards;
  z-index: 50;
}

